.input-field {
	margin-bottom: 24px;
	position: relative;

	&__label {
		display: block;
	}

	&__input {
		width: 100%;
		border: 0;
		border-bottom: 2px solid $brown-80;
		background-color: transparent;
		padding: 8px 8px 8px 0;
		border-radius: 0;

		&::placeholder {
			color: $brown-80;
		}

		&:focus {
			color: $black-100;
			border-bottom: 2px solid $brown-60;
		}

	}

	&__error {
		margin-top: 4px;
		color: $red-80;
	}

	&__info, .info {

		&__symbol {
			position: absolute;
			top: 0;
			right: 0;
			display: inline-block;
			padding: 2px;
			line-height: 1;
			text-align: center;
			color: $white-100;
			background-color: $black-100;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			cursor: pointer;
		}

		&__text {
			position: absolute;
			top: calc(24px);
			right: 0;
			background-color: $black-100;
			color: $white-100;
			max-width: 240px;
			z-index: 25;
			display: none;
			padding: 8px;
			border-radius: 4px;
		}


		&:hover {

			.info__text {
				display: block;
			}

		}

	}

	&--error {

		& .input-field__label {
			color: $red-80;
		}

		& .input-field__input {
			border-bottom: 2px solid $red-80;
		}

	}

}