.footer {
	background-color: $beige-40;

	&__inner {
		display: grid;
		grid-template-columns: 320px auto 280px;
		grid-column-gap: 32px;
	}

	&__logo {
		width: 100%;
		height: 100%;
		max-width: 200px;
		max-height: 200px;
	}

	&__contact-details, .contact-details {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-top: 24px;

		&__heading {
			margin-bottom: 8px;
		}

		&__item {
			display: inline-block;

			&:nth-child(3) {
				margin-bottom: 8px;
			}

		}

	}

	&__links, .links {
		display: flex;
		flex-direction: column;
		margin-top: 24px;

		&__navigation, .navigation {
			margin-top: auto;
			display: flex;
			justify-content: center;

			&__item {
				margin: 0 8px;
			}

		}

	}

	@media (max-width: 1050px) {

		&__inner {
			grid-template-columns: 280px auto 240px;
			grid-template-rows: auto auto;
			grid-row-gap: 64px;
		}

		&__logo {
			grid-row: span 2;
		}

		&__contact-details {
			grid-column: span 2;
		}

		&__links, .links {
			grid-column: span 2;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: 0;

			&__navigation, .navigation {
				margin-top: 0;
				display: flex;
				justify-content: center;

				&__button {
					margin-right: 24px;
				}

				&__item {
					margin: 0;
					margin-right: 16px;					

					&:last-child {
						margin-right: 0;
					}

				}

			}

		}

	}

	@media (max-width: 900px) {

		&__inner {
			grid-template-columns: auto;
			grid-template-rows: auto auto auto;
			justify-content: center;
		}

		&__logo {
			margin: 0 auto;
			grid-row: span 1;
		}

		&__contact-details, .contact-details {
			grid-column: span 1;
			margin: 0 auto;

			&__heading {
				text-align: center;
			}

			&__item {
				text-align: center;
				margin: 0 auto;
			}

		}

		&__links, .links {
			grid-column: span 1;
			flex-direction: column;

			&__button {
				margin-bottom: 32px;
			}

			&__navigation, .navigation {

				&__item {
					margin: 0 8px !important;
				}
			}

		}

	}

}