.desktop-navigation {

	&__inner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__logo {
		height: 32px;
		width: auto;
		z-index: 30;
		position: relative;
	}

	&__links, .links {

		&__item {
			margin-right: 24px;
			z-index: 30;
			position: relative;

			&:last-child {
				margin-right: 0;
			}

		}

	}

	@media (max-width: 900px) {

		&__links, .links {

			&__item {
				margin-right: 16px;
			}

		}

	}

	@media (max-width: 850px) {
		display: none;	
	}

}