# APP
APP_ENVIRONMENT=

# ADMIN LOGIN
ADMIN_LOGIN_USERNAME=
ADMIN_LOGIN_PASSWORD=
ADMIN_LOGIN_TOKEN=

# BASE_URLS
NEXT_PUBLIC_WEBSITE_BASE_URL=http://localhost:3000
NEXT_PUBLIC_CMS_BASE_URL=http://localhost:1337