.about-us-speciality {
	background-color: $beige-20;
	
	&__inner {
		padding-top: 40px;
		padding-bottom: 80px;
	}

	&__text {
		max-width: 480px;
	}

	@media (max-width: 550px) {

		&__inner {
			padding-top: 24px;
			padding-bottom: 24px;
		}

	}

}