.start-news {
	background-color: $yellow-40;

	&__banner, .banner {
		display: grid;
		grid-template-columns: 520px auto;
		grid-column-gap: 32px;

		&__list, .list {

			&__item, .item {
				display: grid; 
				grid-template-columns: 640px auto;
				grid-column-gap: 32px;
				padding: 8px 0;
				align-items: start;
			}

		}

	}

	&__announcements, .announcements {
		
		&__item, .item {
			position: fixed;
			bottom: 100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: transparentize($yellow-40, 0);
			z-index: 20;
			padding: 240px 32px;;

			&__inner {
				max-width: $max-width;
				margin: 0 auto;
			}

			&__navigator {
				margin-bottom: 16px;
			}

			&__content, .content {
				max-width: 640px;

				&__image {
					margin-bottom: 40px;
				}

				&__heading {
					margin-bottom: 16px;
				}

			}

		}

	}

	@media (max-width: 1500px) {

		&__banner, .banner {

			&__list, .list {
	
				&__item, .item {
					grid-template-columns: 480px auto;
				}

			}

		}

	}

	@media (max-width: 1300px) {

		&__banner, .banner {
			grid-template-columns: 320px auto;
		}	

	}

	@media (max-width: 1100px) {

		&__banner, .banner {

			&__list, .list {
	
				&__item, .item {
					grid-template-columns: 420px auto;
				}

			}

		}

	}

	@media (max-width: 1050px) {

		&__banner, .banner {
			grid-template-columns: 280px auto;

			&__list, .list {
	
				&__item, .item {
					grid-template-columns: 320px auto;
				}

			}

		}	

	}

	@media (max-width: 900px) {

		&__banner, .banner {
			grid-template-columns: auto;
			grid-template-rows: auto auto;
			grid-row-gap: 16px;

			&__list, .list {
	
				&__item, .item {
					grid-template-columns: auto 200px;
				}

			}

		}	

	}

	@media (max-width: 850px) {

		&__announcements, .announcements {
		
			&__item, .item {
				position: fixed;
				bottom: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: transparentize($yellow-40, 0);
				z-index: 20;
				padding: 120px 32px;;
			}

		}

	}

	@media (max-width: 800px) {

		&__banner, .banner {

			&__list, .list {
	
				&__item, .item {
					grid-template-columns: auto;
					grid-template-rows: auto auto;
					margin-bottom: 24px;

					&:last-child {
						margin-bottom: 0;
					}

					&__heading {
						margin-bottom: 12px;
					}

					

				}

			}

		}	

	}

}