.slider {
	position: relative;
	align-self: stretch;

	&__item, .item {
		max-width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		height: 100%;
		width: auto;
		display: block;
		object-fit: cover;

		&:nth-child(4n + 1) {
			clip-path: polygon(0 0, calc(100% - 32px) 0, calc(100% - 32px) calc(100% - 32px), 0 calc(100% - 32px));
		}
	
		&:nth-child(4n + 2) {
			clip-path: polygon(32px 32px, 100% 32px, 100% 100%, 32px 100%);
		}
	
		&:nth-child(4n + 3) {
			clip-path: polygon(80px 80px, 100% 80px, 100% calc(100% - 80px), 80px calc(100% - 80px));
		}

		&:nth-child(4n + 4) {
			clip-path: polygon(64px 64px, calc(100% - 32px) 64px, calc(100% - 32px) calc(100% - 64px), 64px calc(100% - 64px));
		}

		&:nth-child(4n + 5) {
			clip-path: polygon(32px 32px, 100% 32px, 100% 100%, 32px 100%);
		}

	}

	&--rtl {

		& .slider__item {
			right: calc(200% + (80px * 2));

			&:nth-child(1) {
				right: calc(0% + (80px * 0));
			}

			&:nth-child(2) {
				right: calc(100% + (80px * 1));
			}

			&:nth-child(3) { right: calc(200% + (80px * 2)); }

		}

	}

	&--ltr {

		& .slider__item {
			left: calc(200% + (80px * 2));

			&:nth-child(1) {
				left: calc(0% + (80px * 0));
			}

			&:nth-child(2) {
				left: calc(100% + (80px * 1));
			}

			&:nth-child(3) {
				left: calc(200% + (80px * 2));
			}

		}

	}

	@media (max-width: 950px) {

		&__item, .item {
			right: unset !important;
			transform: unset;
			top: unset;
			bottom: 0;
			margin-top: unset;
			left: calc(200% + (80px * 2));
			
			&:nth-child(1) {
				left: calc(0% + (80px * 0));
			}

			&:nth-child(2) {
				left: calc(100% + (80px * 1));
			}

			&:nth-child(3) {
				left: calc(200% + (80px * 2));
			}

		}
		
	}
	
	&__content, .content {
		max-width: 560px;;
		margin-top: 0;

		&__navigation, .navigation {
			order: 0;
			margin-bottom: 32px,
		}

		&__heading {
			order: 1;
		}

		&__text {
			order: 2;
			margin-bottom: 0;
		}

	}

}
