.menu {

	&__inner {
		display: grid;
		grid-template-columns: repeat(auto-fit, 400px);
		grid-gap: 32px;
	}

	&__item, .item {
		background-color: $white-100;
		padding: 32px;
		display: flex;
		flex-direction: column;
		
		&__heading {
			margin-bottom: 8px;
		}

		&__text {
			margin-bottom: 16px;
		}

		&__link {
			margin-top: auto;
		}

	}

}