.start-intro {

	&__inner {
		display: grid;
		grid-template-columns: 400px auto;
		grid-column-gap: 32px;
		padding-top: 64px;
	}

	@media (max-width: 1350px) {

		&__inner {
			grid-template-columns: 320px auto;
		}

	}

	@media (max-width: 1050px) {

		&__inner {
			grid-template-columns: 240px auto;
		}

	}

	@media (max-width: 900px) {

		&__inner {
			grid-template-columns: auto;
			grid-template-rows: auto auto;
		}

		&__spacer {
			display: none;
		}
		
	}


}